/*  ---------------------

    General
    
 ---------------------*/
html
{
    width: 100%;
    height: 100%;
    background-color: #FFF;
} 

body 
{
    margin:0px 0px 0px 0px;
    font-family: Verdana, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    color: #000;
    background-color: #FFF;
    font-size: 0.7em;
}

#main
{
  width:640px;
  margin:auto;
}



/*  ---------------------

    Main Container 
    
 ---------------------*/
#title
{
    text-align:center;
    font-size: 24px;
}

#mainContainer
{
    width:640px;
    height:640px;
    border:solid;
    border-width:4px;
    margin:auto;
    background-color:#ba9;
}

#mainContainer .header
{
    width:640px;
    height:40px;
}

#mainContainer .header .left
{
    width:540px;
    height:100%;
    float:left;
}

#mainContainer .header .right
{
    width:100px;
    height:100%;
    float:right;
}

#mainContainer .content
{
    width:640px;
    height:600px;
    padding-top:20px;
}

/*  ---------------------

    Home Screen
    
 ---------------------*/
#homeScreen .info
{
    width:100%;
    height:360px;
}

#homeScreen .info .avatar
{
    width:320px;
    height:360px;
    float:left;
}

#homeScreen .info .avatar
{
}

canvas
{
    -ms-interpolation-mode: nearest-neighbor; //IE8+
    image-rendering: -moz-crisp-edges; //FF3.6+
    image-rendering: -webkit-optimize-contrast; //WebKit v?+
}

#homeScreen .info .status
{
    width:300px;
    padding:10px;
    float:left;
    background-color:#ddd;
}

#homeScreen .info .status table
{
    font-size:24px;
}

#homeScreen .info .status table tr td.first
{
    width:150px;
}

#homeScreen .menu
{
    width:100%;
    height:60px;
    padding:10px;
}

/*  ---------------------

    Adventure Screen
    
 ---------------------*/
#adventureScreen .mainPanel
{
}

#adventureScreen .menu
{
    font-size:20px;
    text-align:center;
}

#adventureScreen .menu .status
{
    width:100%;
    height:100px;
}

#adventureScreen .menu .buttons
{
    width:100%;
}

/*  ---------------------

    Login Screen
    
 ---------------------*/
#loginContainer
{
  padding:20px;
}

/*  ---------------------

    Widgets
    
 ---------------------*/
button
{
font-size:24px;
color: #fff;
border-top:3px double #9cf;
border-left:3px double #9cf;
border-right:3px double #4080BF;
border-bottom:3px double #4080BF;
background: #32A7CA;
text-align: center;
cursor: pointer;
}

button:active
{
color: #fff;
border-top:3px double #254A70;
border-left:3px double #254A70;
border-right:3px double #508AC5;
border-bottom:3px double #508AC5;
background: #369;
}

button.logout
{
float:right;
background: #FFAA99;
border-top:3px double #c9f;
border-left:3px double #c9f;
border-right:3px double #8040BF;
border-bottom:3px double #8040BF;
}

button.logout:active
{
background: #975;
border-top:3px double #4A2570;
border-left:3px double #4A2570;
border-right:3px double #8A50C5;
border-bottom:3px double #8A50C5;
}
